<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-4.0.0.js"></script>
</head>
<body>
<input type="text" class="input_create" id="create_posting_title" name="title" />
<input type="text" class="input_create" id="create_posting_content" name="content" />
<button onclick="create_posting()">Create</button>

<script>
    function create_posting() {
        let _data = {};
        let input_create = $(".input_create");
        for(let each of input_create) {
            _data[$(each).attr("name")] = $(each).val();
        }
        $.ajax({
            url: '/api/posting/create',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            data : JSON.stringify(_data),
            success: function (data, status, xhr) {
                alert("data : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>