<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-4.0.0.js"></script>
</head>
<body>

title : <input type="text" name="title" id="title"/>
content : <input type="text" name="content" id="content"/>
<button onclick="create_board()">submit</button>
<script>
    function create_board() {
        $.ajax({
            url: '/api/board/create',
            method: 'GET',
            data : {
                title : $('#title').val()
                , content : $('#content').val()
            },
            success: function (data, status, xhr) {
                alert("data : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>